@import "main.css"

.keyword {
  -fx-fill: blue;
  -fx-font-weight: bold;
}
.string {
  -fx-fill: red;
}

.function {
  -fx-fill: magenta;
  -fx-font-weight: bold;
}

.logical-operator {
  -fx-fill: grey;
  -fx-font-weight: bold;
}

.comment {
	-fx-fill: green;
}

.paragraph-box:has-caret {
  -fx-background-color: #f2f9fc;
}
