.has-spacing {
  -fx-spacing: 10px;
}

.tree-table-row-cell {
  -fx-background-color: #f8f9fb;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}

.tree-table-row-cell:odd {
  -fx-background-color: #e6e7e9;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.tree-table-row-cell:empty {
  -fx-background-color: #f8f9fb;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}

.tree-disclosure-node {
  -fx-padding: 10 5 0 5;
}
